 @font-face {
   font-family: 'Inconsolata';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/inconsolata-v31-latin-regular.woff2') format('woff2'),
     url('../fonts/inconsolata-v31-latin-regular.woff') format('woff');
 }

 @font-face {
   font-family: 'Consolas';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/Consolas.ttf') format('ttf'),
 }

 @font-face {
   font-family: 'Quantum';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/Quantum.woff') format('woff'),
 }